.menu img{
  width:400px;
  height: 200px;
  border-radius: 25px;
  margin: 20px;
}

.menu{
  padding-top: 5%;
}
.menu img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.menu div{
  text-align: center;
}

.menu div{
  float: left;
  margin: 0 auto;
}

.disconnect{
  float:right;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}


.login{
  text-align: center;
  padding-top: 5%;
}

.login{

}

.login-form{
  width: 200px;
  margin: auto;
}

//Books
.books img{
  text-align: left;
  width: 70px;
  height: 100px;
}
.books .price{
  font-size: 20px;

}



.load-button{
  margin: 5%;
}


.book-detail{
  text-align: center;
  margin-bottom: 15%;
}
.book-detail .review{
  text-align: justify;
}

.books-cont{
  margin-bottom: 15%;
}
.books{
  max-width: 700px;
  margin:auto;

}

.book-detail .list-group{
  max-width: 500px;
  margin:auto;
}
.book-detail img{
  width: 200px;
  height: 300px;
}

.preloader{
  display: block;
  margin: 20% auto;
}

.details-order{
  margin-top:5%;
  text-align: center;
}

.media-heading{
  text-align: center;
  margin: 3%
}

.price{
  text-align: center;
}

.centered{
  text-align: center;
  margin: 3%;
}
